html{
  height: 100%;
  body{
    height: 100%;
    > div{
      height: 100%;
    }
  }
}
*, *::before, *::after{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  transition: 0.3s linear;
}
.admin-section{
  display: flex;
  flex-direction: row;
  height: 100%;
  .admin-left{
    width: 300px;
    background-color: #f1f1f1;
    height: 100%;
    padding: 30px;
    .admin-listitem{
    padding: 0;
      li{
        list-style: none;
        a{
          font-size: 16px;
          color: red;
        }
      }
    }
  }
  .admin-main{
    width:calc(100% - 300px);
  }
}